body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}
.Full{
    background-image: url(images/pexels-henry-&-co-1939485.jpg);
    background-size:100%;
    background-position: center;
    height:100vh;
}
.menu{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3em;
}
td{
    font-size: 18px;
    color:#26577C ;
    background-color: bisque;
}
th{
    font-weight: bolder;
    color:#164863 ;
    background-color: aliceblue;
    border-radius: 10px;
}
#menuhead{
    font-size: 3em;
    color:#26577C;
}
h1{
    font-size: 2em;
    color:#0D1282;
}
